
<div class="container h-p100">		
	<form class="" [formGroup]="form">  
	  <div class="centered" >
		<div class="row">
		  <div class="col-md-12">
			<div class="form-signin">
			  <div class="logo-div"><img src="../../../assets/images/ootst.png" alt=""/>
			  <p>Sign in to your account</p>
			  </div>
			  <div class="padding40">
				<div class="input-group mb15">
					<mat-form-field appearance="fill">
						<input  class="form-control inputnormal" pattern=".*\S+.*" type="text" maxlength="50" placeholder="Email" formControlName="Email" matInput autocomplete="email">
						<mat-error *ngIf="'Username.invalid'">Please enter valid username</mat-error>
				</mat-form-field>
				  <!-- <input class="form-control inputnormal" data-val="true" data-val-email="Invalid Email Address" data-val-length="The field Email must be a string with a maximum length of 100." data-val-length-max="100" data-val-required="The Email field is required." id="Email" name="Email" placeholder="Email ID" type="text" value="" /> -->
				</div>
				
				<div class="clearfix"></div>
				<div class="input-group mb15"> 
					<mat-form-field appearance="fill">
						<input [type]="showPassword ? 'text' : 'password'" maxlength="20" matInput formControlName="Password" class="form-control inputnormal" placeholder="Password" autocomplete="new-password">
						<mat-error *ngIf="'Password.invalid'">Please enter valid password</mat-error>
					</mat-form-field>
				   <!-- <input class="form-control inputnormal" data-val="true" data-val-length="The field Password must be a string with a maximum length of 100." data-val-length-max="100" data-val-required="The Password field is required." id="Password" name="Password" placeholder="Password" type="password" value="" /> -->
				</div>
				
				<div class="clearfix"></div>
				
				<div class="row">
					<div class="col-12">
						<div class="controls checkbox">
							<input type="checkbox" id="checkbox_1" class="filled-in chk-col-primary" value="single">
							<label for="checkbox_1">Remember Me</label>
							<div class="help-block"></div>
						</div>
					</div>												
				</div>
				
				<div class="row">              
					<div class="col-12 text-center">
					  <a href="#" type="submit" class="btn btn-primary w-100 mt-10 mb-10">Sign in</a>
					</div>
					<!-- /.col -->
				</div>
				
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</form>

</div>

