<aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar position-relative">
      <div class="multinav">
      <div class="multinav-scroll" style="height: 100%;">	
          <!-- sidebar menu-->
          <ul class="sidebar-menu" data-widget="tree">
            <li>
              <a href="dashboard.html">
                <i data-feather="monitor"></i>
                <span>Dashboard</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <i data-feather="check-circle"></i>
                <span>Authorizations</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <i data-feather="share-2"></i>
                <span>Allocations</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <i data-feather="shield"></i>
                <span>Issurance</span>
              </a>
            </li>
            <li class="treeview">
              <a href="javascript:void(0);">
                <i data-feather="file-text"></i>
                <span>Reports</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">											
                <li class="treeview">
                    <a href="javascript:void(0);">
                        <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>General Reports
                        <span class="pull-right-container">
                            <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">											
                        <li>
                            <a href="javascript:void(0);">
                                <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Authorizations Date
                            </a>
                        </li>												
                        <li>
                            <a href="javascript:void(0);">
                                <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>BC Date
                            </a>
                        </li>										
                        <li>
                            <a href="javascript:void(0);">
                                <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Bond Issue
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Fund Act Section
                            </a>
                        </li>
                      </ul>
                </li>												
                <li class="treeview">
                    <a href="javascript:void(0);">
                        <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>GO Reports
                        <span class="pull-right-container">
                            <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">											
                        <li>
                            <a href="javascript:void(0);">
                                <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>SBC Allocation
                            </a>
                        </li>												
                        <li>
                            <a href="javascript:void(0);">
                                <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Cleared Columns
                            </a>
                        </li>										
                        <li>
                            <a href="javascript:void(0);">
                                <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Allocated Issued
                            </a>
                        </li>
                    </ul>
                </li>										
                <li class="treeview">
                    <a href="javascript:void(0);">
                        <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>STO Reports
                        <span class="pull-right-container">
                            <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">											
                        <li>
                            <a href="javascript:void(0);">
                                <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Available To Allocate
                            </a>
                        </li>												
                        <li>
                            <a href="javascript:void(0);">
                                <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Available To Issue
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="javascript:void(0);">
                        <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>CWF/DWF Revenue
                        <span class="pull-right-container">
                            <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">											
                        <li>
                            <a href="javascript:void(0);">
                                <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Allocated and Isssued
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Adhoc Reporting
                    </a>
                </li>
              </ul>
            </li>
            <li class="treeview">
              <a href="javascript:void(0);">
                <i data-feather="upload"></i>
                <span>Exports</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-right pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">											
                <li>
                    <a href="javascript:void(0);">
                        <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Alloc Issd for Single Fund
                    </a>
                </li>												
                <li>
                    <a href="javascript:void(0);">
                        <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>BSC Counsel Item
                    </a>
                </li>										
                <li>
                    <a href="javascript:void(0);">
                        <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Issue for Tax Chart Reqs
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Issue with Cleared Columns
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Alloc &amp; Unissued by Fund
                    </a>
                </li>
              </ul>
            </li>
            <li class="treeview">
              <a href="javascript:void(0);">
                <i data-feather="cpu"></i>
                <span>Administration &amp; Maintenance</span>
              </a>
            </li>
          </ul>
          
          <div class="sidebar-widgets">
            <div class="copyright m-25 text-white-50">
                <p>&copy; <script>document.write(new Date().getFullYear())</script> All Rights Reserved.</p>
            </div>
          </div>
      </div>
    </div>
</section>
</aside>
