.logo-wrap img {
    width: 150px;
    margin: 0 auto;
}

.logo-wrap {
    padding: 25px 0 40px;
    text-align: center;
}

.menu-list ul {
    padding: 0 10px;
    padding-bottom: 80px;
}

.menu-list ul li a.active,
.menu-list ul li a:hover {
    background-color: #0071BC;
    border-radius: 10px;
    color: #fff !important;
}

.menu-list ul li a.active img,
.menu-list ul li a:hover img {
    filter: brightness(0) invert(1);
}

.menu-list ul li a {
    margin-bottom: 15px;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 16px;
    color: #0071BC;
    transition: .2s ease all;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
}

.menu-list ul li .img-icon {
    width: 35px;
    text-align: center;
}

.menu-list ul li a img {
    margin-right: 10px;
}

.dropdown ul.dropdown-menu {
    top: inherit !important;
    width: 100%;
    position: inherit !important;
    border: 0;
    transform: unset !important;
    padding-left: 30px;
    padding-bottom: 0;
}

.dropdown-toggle::after {
    opacity: 0;
}

.dropdown-toggle {
    background-image: url(../../../assets/images/blue-right-arrow.svg);
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: calc(100% - 15px);
}

.dropdown-toggle.active,
.dropdown-toggle:hover {
    background-image: url(../../../assets/images/white-down-arrow.svg);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: calc(100% - 15px);
}

.menu-list ul.dropdown-menu li a.active,
.menu-list ul.dropdown-menu li a:hover {
    background-color: white;
    color: #0071BC !important;
    opacity: 1;
}

.menu-list ul.dropdown-menu li a {
    margin-bottom: 5px !important;
    color: #0071BC;
    opacity: 0.8;
}

.menu-list ul.dropdown-menu li a img {
    opacity: 0;
}

.menu-list ul.dropdown-menu li a.active img,
ul.dropdown-menu li a:hover img {
    opacity: 1;
    filter: unset !important;
}
.close-icon {
    display: none;
}

/* responsive start */
@media screen and (max-width: 1600px) {
    .logo-wrap {
        padding: 20px 0 30px;
    }
}

@media screen and (max-width: 1400px) {
    .menu-list ul li a {
        font-size: 14px;
        padding: 10px 12px;
        margin-bottom: 6px;
    }
}

@media screen and (max-width: 991px) {
    .close-icon {
        display: inline-block;
        position: absolute;
        top: 15px;
        right: 15px;
        color: #000;
    }
}