<div class='custom-loader' *ngIf="loaderflag" id=loader >
	<img src='../../assets/images/loader.gif' alt=''>
	Loading...
  </div>
<div class="main-wrapper">
	<div class="left-wrap">
		<img src="../../assets/images/profile-holder.png" alt="">
		<div class="form-wrap">
			<h1>Reset Password</h1>
			<form  [formGroup]="form">
				<div class="form-field">
			       <mat-form-field appearance="fill">
			        <mat-label>Password</mat-label>
                    <input [type]="showPassword ? 'text' : 'password'"  matInput formControlName="password" maxlength="20" minlength="8" placeholder="Enter Password" autocomplete="off">
                    <mat-icon matSuffix (click)="togglePasswordVisibility()">{{showPassword?'visibility_off':'visibility'}}
					  </mat-icon>
			        <mat-error *ngIf="'password.invalid'">Please enter password(8 character min.)</mat-error>
			       </mat-form-field>
	            </div>

           <div class="form-field">
			    <mat-form-field appearance="fill">
			    <mat-label>Confirm Password</mat-label>
                <input [type]="showConfirmPassword ? 'text' : 'password'" matInput formControlName="confirmPassword" maxlength="20" minlength="8" placeholder="Confirm Password" autocomplete="off" >
				<mat-icon matSuffix (click)="toggleConfirmPasswordVisibility()" (mouseout)="checkIsValidPassword()" (focusout)="checkIsValidPassword()">
					{{showConfirmPassword?'visibility_off':'visibility'}}
				  </mat-icon>
			    <mat-error *ngIf="'confirmPassword.invalid'">Password doesn't match.</mat-error>	
		       </mat-form-field>
		   </div>

		 <button type="submit" (click)="resetPassword()" class="custom-btn">Submit</button>
		  &nbsp;
		  <p class="sign-text">Already have account? <a type="button" [routerLink]="['/login']">Login</a> </p>
			</form>
		</div>
	</div>
	<div class="right-wrap">
		<div class="img-bg" style="background-image: url(../../../../assets/images/login-right-img.svg);"></div>
		<a class="read-more" data-bs-toggle="modal" data-bs-target="#superAbout" title="Read More">Read More</a>
	</div>
</div>

<!-- about Dialog start -->
<div class="modal fade" id="superAbout" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable about-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">AAI</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="about-text-wrap">
					<div class="row">
						<div class="col-md-6 about-us">
							<h4>About Us</h4>
							<h2>Welcome to the world's first complete care coordination platform. </h2>
						</div>
						<div class="col-md-6">
							<p>Whether you are a case manager, a home care agency, a family/client, or someone who wants
								to care for those that need you, we at your service.</p>
							<p> We recognized the inefficiency in the system and have built this platform for YOU! With
								over 100+ years of expertise, we are committed to make your journey one that is
								unprecedented and easy. We have it all for you in one easy to use platform.</p>
						</div>
					</div>
					<div class="img-wrap about-top">
						<img src="../../../../assets/images/pics.png" alt="About Us">
					</div>

					<div class="row no-more">
						<div class="col-md-6">
							<div class="img-wrap">
								<img src="../../../../assets/images/no-more.png" alt="">
							</div>
						</div>
						<div class="col-md-6">
							<h2>No more multiple follow ups, calls, emails or texts.</h2>
							<p>We have you covered. If communication and preferences aren't on here, we promise you, you
								will experience some level of frustration. We are transparent, easy and all about our
								experience. </p>
						</div>
					</div>
					<div class="try-us-wrap">
						<div class="row">
							<div class="col-md-6 text-wrap">
								<h2>Try us today</h2>
								<p>You won't be disappointed. Our families, agencies, referrals and care team members
									have
									yet to be disappointed. This is the future of the home care continuum! We can't wait
									to
									serve you!</p>
							</div>
							<div class="col-md-6">
								<div class="img-wrap">
									<img src="../../../../assets/images/try-us.png" alt="Try us today">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Understood</button>
			</div> -->
	</div>
</div>
<!-- about dialog ends -->