.main-wrapper {
  display: flex;
  display: -ms-flexbox;
  width: 100%;
  height: 100vh;
}

.left-wrap {
  width: calc(100% - 760px);
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
}

.right-wrap .img-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  width: 100%;
  height: 100%;
}

.right-wrap {
  width: 760px;
}
.left-wrap img {
  max-width: 200px;
}
.success-wrap {
  background: #F9F9F9;
  border-radius: 20px;
  max-width: 600px;
  padding: 50px;
  margin-top: 80px;
  text-align: center;
}

.success-wrap h4 {
  margin: 30px 0;
  font-weight: 700;
  font-size: 25px;
  color: #383838;
}

.success-wrap p {
  font-weight: 400;
  font-size: 20px;
  color: #4F4F4F;
  margin-bottom: 40px;
}

.success-wrap .custom-btn {
  max-width: 400px;
  text-decoration: none;
  padding: 12px 10px;
  cursor: pointer;
  margin: 0;
}



/* about-dialog-style start */
.read-more {
	position: absolute;
	bottom: 13%;
	right: 0;
	width: 200px;
    height: 30px;
	font-size: 0;
	cursor: pointer;
}

.about-dialog.modal-dialog {
	max-width: 1000px;
}

.modal-header {
	background: #306EB7;
	color: #fff;
	justify-content: unset !important;
	padding: 30px 0;
}

.modal-header h5 {
	font-weight: 500;
	font-size: 30px;
	text-align: center;
	width: 100%;
	margin: 0;
}

.about-dialog.modal-dialog .modal-content {
	border: 0;
	filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
	border-radius: 20px;
}

.modal-header button.btn-close {
	color: #fff;
	border: 1px solid #FFFFFF;
	border-radius: 50%;
	margin-right: 40px;
	filter: brightness(0) invert(1);
	opacity: 1;
}

.about-text-wrap {
	padding: 40px 60px;
}

.about-text-wrap h4 {
	font-weight: 500;
	font-size: 18px;
	color: #306EB7;
	margin: 0;
	margin-bottom: 15px;
}

.about-text-wrap h2 {
	font-weight: 400;
	font-size: 28px;
	color: #000000;
}

.img-wrap.about-top {
	padding: 80px 0;
}

.about-text-wrap p {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	color: #000000;
	opacity: 0.75;
}

.no-more {
	align-items: center;
	padding-bottom: 60px;
}

.no-more h2,
.no-more p {
	padding-left: 40px;
}

.try-us-wrap {
	position: relative;
	padding-left: 140px;
	padding-top: 20px;
}
/* 
.try-us-wrap::before {
	position: absolute;
	content: '';
	background-image: url(../../../assets/images/compter.png);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: top center;
	width: 180px;
	height: 290px;
	left: -76px;
	box-shadow: 0px 0px 20px rgb(0 0 0 / 25%);
    border-radius: 0 10px 10px 0;
} */

.try-us-wrap .img-wrap {
	position: relative;
	padding-top: 100px;
}

/* .try-us-wrap .img-wrap::before {
	position: absolute;
	content: '';
	background-image: url(../../../assets/images/try-us-dot.png);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: top center;
	width: 90px;
	height: 90px;
	right: 15%;
	top: 11%;
} */

.img-wrap {
	text-align: center;
}

.try-us-wrap .img-wrap img {
	position: relative;
}

.try-us-wrap .text-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.about-text-wrap .img-wrap img {
	width: 100%;
}
.try-us-wrap .text-wrap {
	padding-top: 5%;
}
/* about style ends */

/* responsive start */
@media screen and (max-width: 1600px) {
  .right-wrap .img-bg {
    background-size: contain;
  }

  .left-wrap img {
    width: 200px;
  }

  .success-wrap .img-wrap img {
    width: 112px;
  }

  .success-wrap {
    max-width: 550px;
    margin-top: 60px;
    padding: 30px 30px 40px;
  }

  .success-wrap h4 {
    font-size: 22px;
    margin: 20px 0;
  }

  .success-wrap p {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .success-wrap .custom-btn {
    max-width: 300px;
    font-size: 16px;
  }

  	/* about- dialog style */
	.about-dialog.modal-dialog {
		max-width: 800px;
	}
	
	.about-text-wrap h4 {
		font-size: 16px;
		margin-bottom: 10px;
	}
	
	.about-text-wrap h2 {
		font-size: 22px;
		margin-bottom: 10px;
	}
	
	.about-us {padding-right: 65px;}
	
	.img-wrap.about-top {
		padding: 60px 0;
	}
	
	.about-text-wrap p {
		font-size: 15px;
	}
	.try-us-wrap .text-wrap {
		padding-top: 30%;
	}
	.modal-header h5 {
		font-size: 24px;
	}
	.modal-header button.btn-close {
		width: 10px;
		height: 10px;
		background-size: 10px;
	}
	/* about style ends */
}

@media screen and (max-width: 1400px) {
  .right-wrap {
    width: 660px;
  }

  .success-wrap .img-wrap img {
    width: 80px;
  }

  .left-wrap {
    width: calc(100% - 660px);
    padding-top: 30px;
  }

  .success-wrap {
    max-width: 500px;
  }

  .success-wrap h4 {
    font-size: 20px;
    margin: 15px 0;
  }

  .success-wrap p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .success-wrap .custom-btn {
    max-width: 300px;
    padding: 10px;
    font-size: 15px;
  }

}

@media screen and (max-width: 1199px) {
  .left-wrap img {
    width: 160px;
  }

  .success-wrap {
    max-width: 300px;
  }
}

@media screen and (max-width: 991px) {
  .main-wrapper {
    display: block;
  }

  .left-wrap {
    width: 100%;
  }

  .right-wrap {
    width: 100%;
    height: 1024px;
  }

  .success-wrap {
    max-width: 400px;
    margin-bottom: 60px;
  }
  .about-dialog.modal-dialog {
		max-width: 100%;
		padding: 0 20px;
	}
}

@media screen and (max-width: 767px) {
  .right-wrap {
    height: 500px;
  }

  .success-wrap {
    max-width: 100%;
    margin: 40px 20px;
  }

  /* about-dialog style start */
	.modal-header h5 {
		font-size: 20px;
	}
	
	.modal-header button.btn-close {
		margin-right: 10px;
		width: auto;
		height: auto;
		background-size: 8px;
	}
	
	.about-dialog.modal-dialog {
		padding: 0;
	}
	
	.about-text-wrap {
		padding: 20px;
	}
	
	.about-text-wrap h2 {
		font-size: 20px;
		line-height: 1.3;
	}
	
	.about-us {
		padding-right: 0;
	}
	
	.about-text-wrap h4 {
		font-size: 14px;
		margin-bottom: 5px;
	}
	
	.img-wrap.about-top {
		padding: 40px 0;
	}
	
	.no-more h2, .no-more p {
		padding-left: 0;
	}
	
	.try-us-wrap {
		padding-left: 0;
	}
	
	.try-us-wrap .text-wrap {
		padding-left: 45%;
	}
	
	.no-more {
		padding-bottom: 30px;
	}
	
	.no-more .img-wrap {
		padding: 20px 0;
	}
	/* about style ends */
}