<div class="content-wrapper">
    <div class="container-full">
    
      <!-- Content Header (Page header) -->
      <div class="content-header">
          <div class="d-flex align-items-center">
              <div class="me-auto">
                  <h4 class="page-title"><i data-feather="monitor"></i> Dashboard</h4>									
              </div>
          </div>
      </div>
  
      <!-- Main content -->
      <section class="content">
          <div class="row">
              <div class="col-xl-4 col-lg-6 col-12">
                  <div class="box">
                      <a href="#">
                      <div class="box-body">						
                          <div class="d-flex justify-content-between">
                              <h2 class="my-0 fw-600 text-primary">100</h2>
                              <div class="w-40 h-40 bg-primary rounded-circle text-center fs-24 l-h-40"><i data-feather="check-circle"></i></div>
                          </div>
                          <p class="fs-18 mt-10">Authorizations</p>						
                      </div>
                      </a>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-12">
                  <div class="box">
                      <a href="#">
                      <div class="box-body">						
                          <div class="d-flex justify-content-between">
                              <h2 class="my-0 fw-600 text-follow-up">80</h2>
                              <div class="w-40 h-40 bg-follow-up rounded-circle text-center fs-24 l-h-40"><i data-feather="share-2"></i></div>
                          </div>
                          <p class="fs-18 mt-10">Allocations</p>						
                      </div>
                      </a>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-12">
                  <div class="box">
                      <a href="#">
                      <div class="box-body">						
                          <div class="d-flex justify-content-between">
                              <h2 class="my-0 fw-600 text-review">60</h2>
                              <div class="w-40 h-40 bg-review rounded-circle text-center fs-24 l-h-40"><i data-feather="shield"></i></div>
                          </div>
                          <p class="fs-18 mt-10">Issued</p>						
                      </div>
                      </a>
                  </div>
              </div>		


          </div>
      </section>
      <!-- /.content -->
    </div>
</div>
<!-- /.content-wrapper-->