<div class='custom-loader' *ngIf="loaderflag" id=loader>
    <img src='../../../../../assets/images/loader.gif' alt=''>
    Loading...
  </div>

<div class="common-dash-wrapper">
    <div class="head-wrap p-0">
        <h4>Hello {{userName}} </h4>
        <div class="form-field page-top">
            <form class="edit-profile-form" [formGroup]="dashBoardForm">
                <mat-form-field appearance="outline">
                    <mat-select (selectionChange)="getDashboardData()" formControlName="AgencyId" placeholder="Select Agency">
                        <mat-option *ngFor="let list of agencyList" [value]="list.Id">{{list.Label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                </form>
        </div>
    </div>
    <div class="card-wrapper">
        <div class="row">
            <div class="col-md-3">
                <div class="custom-card border-bottom blue">
                    <div class="text-wrap">
                        <p>Total Clients</p>
                        <div class="conut-text">
                            <h1>{{totalClients}}</h1> <img src="../../../../../assets/images/green-arrow-icon.svg" alt="">+
                        </div>
                    </div>
                    <div class="img-wrap">
                        <img src="../../../../../assets/images/client.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="custom-card border-bottom yellow">
                    <div class="text-wrap">
                        <p>Total Agencies</p>
                        <div class="conut-text">
                            <h1>{{totalAgency}}</h1> <img src="../../../../../assets/images/green-arrow-icon.svg" alt="">+
                        </div>
                    </div>
                    <div class="img-wrap">
                        <img src="../../../../../assets/images/agency.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="custom-card border-bottom green">
                    <div class="text-wrap">
                        <p>Total Caregivers</p>
                        <div class="conut-text">
                            <h1>{{totalCaregiver}}</h1> <img src="../../../../../assets/images/green-arrow-icon.svg" alt="">+
                        </div>
                    </div>
                    <div class="img-wrap">
                        <img src="../../../../../assets/images/caregiver.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="custom-card border-bottom red">
                    <div class="text-wrap">
                        <p>Total Referrals</p>
                        <div class="conut-text">
                            <h1>{{totalReferral}}</h1> <img src="../../../../../assets/images/green-arrow-icon.svg" alt="">+
                        </div>
                    </div>
                    <div class="img-wrap">
                        <img src="../../../../../assets/images/patient.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="donut-card-wrapper">
        <div class="five-div">
            <div class="custom-card">
                <p>Total Open / Completd Referral Shifts</p>
                <div id="donut-chart">
                    <apx-chart [series]="donut1data" [chart]="donutchartOptions.chart!"
                        [labels]="donutchartOptions.labels!" [responsive]="donutchartOptions.responsive!"
                        [legend]="donutchartOptions.legend!" [dataLabels]="donutchartOptions.dataLabels!"
                        [colors]="['#0B62A4', '#679DC6']">
                    </apx-chart>
                    <div class="count-wrap">{{totalReferralShift}}</div>
                </div>

            </div>
        </div>
        <div class="five-div">
            <div class="custom-card">
                <p>Total Open / Completd Agency Shifts</p>
                <div id="donut-chart">
                    <apx-chart [series]="donut2data" [chart]="donutchartOptions.chart!"
                        [labels]="donutchartOptions.labels!" [responsive]="donutchartOptions.responsive!"
                        [legend]="donutchartOptions.legend!" [dataLabels]="donutchartOptions.dataLabels!"
                        [colors]="['#00BCD4', '#33E4FB']">
                    </apx-chart>
                    <div class="count-wrap">{{totalAgencyShift}}</div>
                </div>
            </div>
        </div>
        <div class="five-div">
            <div class="custom-card">
                <p>Total Open / Completd Caregiver Shifts</p>
                <div id="donut-chart">
                    <apx-chart [series]="donut3data" [chart]="donutchartOptions.chart!"
                        [labels]="donutchartOptions.labels!" [responsive]="donutchartOptions.responsive!"
                        [legend]="donutchartOptions.legend!" [dataLabels]="donutchartOptions.dataLabels!"
                        [colors]="['#FD8CAF', '#FF407B']">
                    </apx-chart>
                    <div class="count-wrap">{{totalCaregiverShift}}</div>
                </div>
            </div>
        </div>
        <div class="five-div">
            <div class="custom-card">
                <p>Total Open / Completd Patients Shifts</p>
                <div id="donut-chart">
                    <apx-chart [series]="donut4data" [chart]="donutchartOptions.chart!"
                        [labels]="donutchartOptions.labels!" [responsive]="donutchartOptions.responsive!"
                        [legend]="donutchartOptions.legend!" [dataLabels]="donutchartOptions.dataLabels!"
                        [colors]="['#FFC750', '#F1AA13']">
                    </apx-chart>
                    <div class="count-wrap">{{totalPatientShift}}</div>
                </div>
            </div>
        </div>
        <div class="five-div">
            <div class="custom-card">
                <p>Total Open / Completd Shifts</p>
                <div id="donut-chart">
                    <apx-chart [series]="donut5data" [chart]="donutchartOptions.chart!"
                        [labels]="donutchartOptions.labels!" [responsive]="donutchartOptions.responsive!"
                        [legend]="donutchartOptions.legend!" [dataLabels]="donutchartOptions.dataLabels!"
                        [colors]="['#10C799', '#49E9C0']">
                    </apx-chart>
                    <div class="count-wrap">{{totalOverAllShift}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-card-wrapper">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="custom-card">
                    <div class="head-wrap">
                        <h2>Shift Release by Agencies </h2>
                        <a title="View All" [routerLink]="['/Dashboard/openshift']">View All</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Patient Name</th>
                                    <th>Shift No.</th>
                                    <th>Shift Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor=" let element of tab4Data">
                                    <td>
                                        <div class="img-wrap">
                                            <img src="../../../../../assets/images/marry-baldwin-logo.svg" alt="">
                                        </div>
                                    </td>
                                    <td><b>{{element.Column2}}</b></td>
                                    <td>{{element.Column1}}</td>
                                    <td>{{element.Column3 | date:'MM-dd-yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="custom-card">
                    <div class="head-wrap">
                        <h2>Shift Release by Referrals</h2>
                        <a title="View All" [routerLink]="['/Dashboard/openshift']">View All</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Patient Name</th>
                                    <th>Shift No.</th>
                                    <th>Shift Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor=" let element of tab3Data">
                                    <td>
                                        <div class="img-wrap">
                                            <img src="../../../../../assets/images/marry-baldwin-logo.svg" alt="">
                                        </div>
                                    </td>
                                    <td><b>{{element.Column2}}</b></td>
                                    <td>{{element.Column1}}</td>
                                    <td>{{element.Column3 | date:'MM-dd-yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="review-chart-wrapper">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="custom-card review-wrap">
                    <div class="head-wrap">
                        <h2>Caregiver Ratings</h2>
                        <div class="form-field top-field">
                            <mat-form-field appearance="outline">
                                <mat-select placeholder="Select Option">
                                    <mat-option value="">Monthly</mat-option>
                                    <mat-option value="">Annually</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div id="review-rating-chart">
                        <apx-chart [series]="ReviewChartOptions.series!" [chart]="ReviewChartOptions.chart!"
                            [xaxis]="ReviewChartOptions.xaxis!" [stroke]="ReviewChartOptions.stroke!"
                            [tooltip]="ReviewChartOptions.tooltip!" [dataLabels]="ReviewChartOptions.dataLabels!" [responsive]="ReviewChartOptions.responsive!"  [legend]="ReviewChartOptions.legend!">
                        </apx-chart>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="custom-card">
                    <div class="head-wrap" style=" border-bottom: 1px solid #F1F1FD;">
                        <h2>Do not send again </h2>
                        <div class="form-field top-field">
                            <mat-form-field appearance="outline">
                                <mat-select placeholder="Select Option">
                                    <mat-option value="">Monthly</mat-option>
                                    <mat-option value="">Annually</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div id="column-chart">
                        <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!"
                            [xaxis]="chartOptions.xaxis!" [title]="chartOptions.title!"
                            [dataLabels]="chartOptions.dataLabels!" [tooltip]="chartOptions.tooltip!" [responsive]="chartOptions.responsive!">
                        </apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>